DB_NAME=odontosystem-db
DB_USERNAME=postgres
DB_PASSWORD=senha_local_segura
DB_PORT=5433
PGADMIN_EMAIL=seuemail@email.com
PGADMIN_PASSWORD=admin_senha_local

JWT_SECRET=sua_hash
JWT_EXPIRATION=86400000

ADMIN_EMAIL=seuemail@email.com
ADMIN_PASSWORD=SuaSenhaSecreta123